<div class="text-lg flex <%= @is_center ? "justify-center" : "justify-start" %> mb-9 space-x-5 mt-7 <%= @custom_classes %>">
  <% @items.each do |item| %>
    <%= link_to item[:path],
      class: "#{'w-full' if @is_full_width} #{'!opacity-100 border-neutral-800 text-neutral-800' if item[:is_active]} group block text-center font-semibold text-nowrap opacity-50 hover:opacity-100 focus-visible:opacity-100" do %>
      <span class="<%= 'block' if @is_full_width %> group-hover:text-neutral-800 group-focus-visible:text-neutral-800 group-focus-visible:border-b-neutral-800 pb-2 border-b-2 border-transparent <%= 'border-b-neutral-800' if item[:is_active] %>">
        <%= item[:title] %>
      </span>
    <% end %>
  <% end %>
</div>
