<div class="">
  <h1 class="font-bold text-4xl mb-2">Admin</h1>
  <%= form_with url: setup_user_path, class: "max-w-md" do |form| %>
    <div class="mb-3">Set up new user</div>
    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "email", form: form)) %>
      <%= render(InputComponent.new(type: "email", form: form, id_and_name: "email", required: true)) %>
    <% end %>
    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "password", form: form)) %>
      <%= render(InputComponent.new(type: "text", form: form, id_and_name: "password", required: true)) %>
    <% end %>
    <%= form.submit "Submit", class: "btn btn--primary" %>
  <% end %>

  <h2 class="mt-6 font-bold text-2xl mb-2">Users (<%= User.count %>)</h2>
  <div class="w-full overflow-x-scroll pb-8">
    <div class="flex">
      <div class="w-[320px] min-w-[320px] font-semibold">Email</div>
      <div class="w-[300px] min-w-[300px] font-semibold">Created Date</div>
      <div class="w-[100px] min-w-[100px] font-semibold">Role</div>
      <div class="w-[320px] min-w-[320px] font-semibold">Last Sign In</div>
    </div>
    <% User.order(created_at: :asc).each do |user| %>
      <div class="font-mono flex">
        <div class="w-[320px] min-w-[320px] truncate <%= 'text-red-600' if user.is_admin? %>"><%= user.email %></div>
        <div class="w-[300px] min-w-[300px] truncate <%= 'text-red-600' if user.is_admin? %>"><%= format_date(user.created_at) %></div>
        <div class="w-[100px] min-w-[100px] truncate <%= 'text-red-600' if user.is_admin? %>"><%= user.is_admin? ? "admin" : "user" %></div>
        <div class="w-[320px] min-w-[320px] truncate <%= 'text-red-600' if user.is_admin? %>"><%= user.last_sign_in_at ? format_date(user.last_sign_in_at) : "" %></div>
      </div>
    <% end %>
  </div>
</div>