<% render_title "Share Feedback" %>
<%= render(PageActionsHeaderComponent.new(title: "Home", path: root_path)) %>
<%= render(PageHeaderComponent.new(title: "Share Feedback", description: "Please take a moment to share your thoughts, suggestions, or feature ideas.")) %>

<% if params[:success] == "true" %>
  <p>Thanks for sharing your thoughts!</p>
  <%= link_to "Go To Reading Logs", root_path, class: "btn text-sm mt-4 inline-block w-auto btn--primary" %>
<% else %>
  <form action="https://submit-form.com/eBS3poFrP">
    <input type="hidden" name="_replyto" />
    <input type="hidden" name="_append" value="false" />
    <input
      type="hidden"
      name="_redirect"
      value="<%= feedback_url(success: true) %>"
    />
    <input type="hidden" name="name" class="form-input" value="<%= current_user.full_name %>">
    <input type="hidden" name="email" class="form-input" value="<%= current_user.email %>">
    <div class="mb-4">
      <label for="message" class="opacity-70 block font-medium text-sm">Message</label>
      <textarea rows="3" class="form-input" id="message" name="message" placeholder="" required></textarea>
    </div>
    <button type="submit" class="btn btn--primary w-full max-w-[140px]">Submit</button>
  </form>
<% end %>