<div data-controller="cache" class="flex justify-between items-center">
  <h1 class="text-2xl font-bold">Home</h1>
  <%= button_to "Log out", log_out_path, method: :delete, class: "border rounded py-1 px-3" %>
</div>
<div class="mb-4 font-mono mt-4">
  <p class="text-sm">Signed in as <%= current_user.email %></p>
</div>

<div class="flex flex-start space-x-72">
  <div>
    <% @old_testament_books.each do |book| %>
      <div class="my-4">
        <%= link_to books_path(book.slug), class: "inline-block" do %>
          <%= render "books/book_chapter_header", book: book %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <% @new_testament_books.each do |book| %>
      <div class="my-4">
        <%= link_to books_path(book.slug), class: "inline-block" do %>
          <%= render "books/book_chapter_header", book: book %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>