<div class="flex justify-between items-center">
  <h1 class="text-2xl font-bold">Home</h1>
  <%= button_to "Log out", log_out_path, method: :delete, class: "border rounded py-1 px-3" %>
</div>
<div class="mb-4 font-mono mt-4">
  <p class="text-sm">Signed in as <%= current_user.email %></p>
</div>

<% current_user.reading_log.books.each do |book| %>
  <div class="border-b py-4">
    <div class="font-semibold mb-2 text-lg"><%= book.name %></div>
    <% book.chapters_data.each do |chapter_data| %>
      <span class="<%= 'bg-green-700 border-green-700 text-white' if chapter_data["completed"] %> text-center w-[40px] mb-2 opacity-50 p-1 border border-gray-300 rounded inline-block">
        <%= chapter_data["chapter_number"] %>
      </span>
    <% end %>
  </div>
<% end %>
