<section class="max-w-lg mx-auto">
  <div data-controller="cache" class="mb-4">
    <%= render(HeadingComponent.new(title: "Books")) %>
  </div>

  <div class="justify-between -space-y-1 xs:space-y-0 flex flex-col xs:flex-row flex-wrap xs:space-x-10">
    <div class="flex-1">
      <% @old_testament_books.each do |book| %>
        <%= link_to books_path(book.slug), class: "items-center justify-between flex rounded-lg border shadow-sm py-3 px-4 mb-5 p w-full" do %>
          <div>
            <div class="text-lg font-medium"><%= book.name %></div>
            <div class="opacity-40 text-sm"><%= book.chapters_data.count { |data| data["completed_at"].present? } %>/<%= book.chapters_count %></div>
          </div>
          <% if book.chapters_data.count { |data| data["completed_at"].present? } == book.chapters_count %>
            <div>✅</div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="flex-1">
      <% @new_testament_books.each do |book| %>
        <%= link_to books_path(book.slug), class: "items-center justify-between flex rounded-lg border shadow-sm py-3 px-4 mb-5 p w-full" do %>
          <div>
            <div class="text-lg font-medium"><%= book.name %></div>
            <div class="opacity-40 text-sm"><%= book.chapters_data.count { |data| data["completed_at"].present? } %>/<%= book.chapters_count %></div>
          </div>
          <% if book.chapters_data.count { |data| data["completed_at"].present? } == book.chapters_count %>
            <div>✅</div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>