<div class="-mx-5 sm:mx-0 ">
<%= link_to reading_log_path(reading_log),
  data: { turbo_frame: "_top" },
  class: "space-x-2 flex items-center justify-between py-3 px-5 hover:bg-neutral-50 border-b w-full truncate whitespace-nowrap" do %>
  <div>
    <p class="font-medium text-lg truncate text-wrap sm:text-nowrap"><%= reading_log.name %></p>
    <div class="opacity-40 text-sm"><%= reading_log.created_at.strftime("%B %-d, %Y") %></div>
  </div>
  <div class="text-right">
    <% if @has_completed_status %>
      <div class="items-end flex flex-col justify-end">
        <div class="flex space-x-3 items-center">
          <span class="opacity-40 text-sm">Read <%= reading_log.completed_books_count %> of <%= reading_log.books_count %></span>
          <span class="text-lg"><%= reading_log.completed_book_percentage %>%</span>
        </div>
        <div class="opacity-40 text-sm">Completed <%= reading_log.completed_at&.strftime("%B %-d, %Y") %></div>
      </div>
    <% else %>
      <div class="items-end flex flex-col justify-end">
        <span class="text-lg"><%= reading_log.completed_book_percentage %>%</span>
        <span class="opacity-40 text-sm">Read <%= reading_log.completed_books_count %> of <%= reading_log.books_count %></span>
      </div>
    <% end %>
  </div>
<% end %>
</div>