<div class="card" style="">
  <div class="card-body">
    <h5 class="card-title"><%= reading_log.name %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">
      <% if @has_completed_status %>
        <div>Started on <%= format_on_date(reading_log.created_at) %></div>
      <% else %>
        <div class="d-flex align-items-center">
          <div class="me-2"><%= reading_log.completed_book_percentage %>%</div>
          <div><%= "Book".pluralize(reading_log.books_count) %> <%= reading_log.completed_books_count %>/<%= reading_log.books_count %></div>
        </div>
      <% end %>
    </h6>
    <p class="card-text">
      <% if @has_completed_status %>
          <div class="">
            <span class="text-sm"><%= pluralize(reading_log.completed_books_count, "book") %></span>
          </div>
          <div class="">
              <span class="font-medium">Completed on <%= format_on_date(reading_log.created_at) %></span>
          </div>
      <% else %>
        <div class="flex flex-col items-end">
          <div>Started on <%= format_on_date(reading_log.created_at) %></div>
        </div>
      <% end %>
    </p>
    <%= link_to reading_log_path(reading_log), data: { turbo_frame: "_top" }, class: "card-link" do %>
      View Reading Log
    <% end %>
  </div>
</div>
