<div class="border-bottom mb-3 pb-3 d-flex align-items-center justify-content-between">
  <div class="pe-2">
    <h5 class="mb-0 fw-semibold"><%= reading_log.name %></h5>
    <div class="card-text">
      <% if @has_completed_status %>
        <div class="">
          <div class="">Started on <%= format_on_date(reading_log.created_at) %></div>
        </div>
      <% else %>
        <div>Started on <%= format_on_date(reading_log.created_at) %></div>
      <% end %>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <div class="card-subtitle  text-body-secondary">
      <% if @has_completed_status %>
        <div class="d-flex align-items-center me-3">
          <div class="me-3">Completed on <%= format_on_date(reading_log.created_at) %></div>
          <span><%= pluralize(reading_log.completed_books_count, "book") %></span>
        </div>
      <% else %>
        <div class="d-flex align-items-center me-3">
          <div><%= "Book".pluralize(reading_log.books_count) %> <%= reading_log.completed_books_count %>/<%= reading_log.books_count %></div>
          <div class="ms-3"><%= reading_log.completed_book_percentage %>%</div>
        </div>
      <% end %>
    </div>
    <%= link_to reading_log_path(reading_log), data: { turbo_frame: "_top" }, class: "btn btn-primary" do %>
      View
    <% end %>
  </div>
</div>
