<%= link_to reading_log_path(reading_log), data: { turbo_frame: "_top" }, class: "hover:bg-stone-50 duration-100 -mx-2 sm:-mx-4 px-4 space-y-3 sm:space-y-0 py-4 border-b last:border-0 flex justify-between items-center flex-col sm:flex-row" do %>
    <div class="sm:pr-3 sm:max-w-[410px] text-center sm:text-left">
      <p class="truncate text-wrap sm:text-nowrap font-semibold text-2xl sm:text-xl leading-snug"><%= reading_log.name %></p>
      <p class="text-sm space-x-2">
        Started on <%= format_on_date(reading_log.created_at) %>
      </p>
      <% if @has_completed_status %>
        <span class="text-sm"><%= pluralize(reading_log.books_count, "book") %> </span>
      <% else %>
        <p class="text-sm space-x-2">
          <span><%= reading_log.completed_books_count %>/<%= pluralize(reading_log.books_count, "book") %> </span>
        </p>
      <% end %>
      <% if reading_log.is_group_reading_log? %>
        <%= render(BadgeComponent.new(title: "Group Reading")) %>
      <% end %>
    </div>
    <div class="flex sm:space-x-2 items-center flex-col sm:flex-row space-y-3 sm:space-y-0">
      <% if @has_completed_status %>
        <span class="text-emerald-700 font-medium bg-emerald-100 p-1 px-2 text-sm rounded-lg">Completed on <%= format_on_date(reading_log.created_at) %></span>
      <% else %>
        <span class="text-neutral-900 font-medium bg-stone-100 p-1 px-2  rounded-lg"><%= reading_log.completed_book_percentage %>%</span>
      <% end %>
    </div>
<% end %>
