<div class="card mb-3">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title fw-semibold"><%= reading_log.name %></h5>
      <div class="card-subtitle mb-2 text-body-secondary">
        <% if @has_completed_status %>
          <span><%= pluralize(reading_log.completed_books_count, "book") %></span>
        <% else %>
          <div class="d-flex align-items-center">
            <div><%= "Book".pluralize(reading_log.books_count) %> <%= reading_log.completed_books_count %>/<%= reading_log.books_count %></div>
            <div class="ms-2"><%= reading_log.completed_book_percentage %>%</div>
          </div>
        <% end %>
      </div>
      <div class="card-text">
        <% if @has_completed_status %>
          <div>Started on <%= format_on_date(reading_log.created_at) %></div>
          <div>Completed on <%= format_on_date(reading_log.created_at) %></div>
        <% else %>
          <div>Started on <%= format_on_date(reading_log.created_at) %></div>
        <% end %>
      </div>
    </div>
    <%= link_to reading_log_path(reading_log), data: { turbo_frame: "_top" }, class: "btn btn-primary" do %>
      View
    <% end %>
  </div>
</div>
