<div class="-mx-5 sm:mx-0 ">
<%= link_to reading_log_path(reading_log),
  data: { turbo_frame: "_top" },
  class: "min-h-[75px] space-x-2 flex items-end justify-between py-4 px-5  hover:bg-neutral-50 border-l-2 border-l-transparent w-full truncate whitespace-nowrap" do %>
  <div>
    <p class="font-medium text-base truncate text-wrap sm:text-nowrap"><%= reading_log.name %></p>
    <% if @has_completed_status %>
      <div class="text-sm opacity-40">Started on <%= format_on_date(reading_log.created_at) %></div>
    <% else %>
      <span class="opacity-40 text-sm">Read <%= reading_log.completed_books_count %>/<%= pluralize(reading_log.books_count, "book") %></span>
    <% end %>
  </div>
  <div class="text-right">
    <% if @has_completed_status %>
      <div class="items-end flex flex-col justify-end">
        <div class="flex space-x-3 items-center">
          <span class="text-sm">Read <%= pluralize(reading_log.completed_books_count, "book") %></span>
        </div>
        <div class="text-sm opacity-40">Completed on <%= format_on_date(reading_log.created_at) %></div>
      </div>
    <% else %>
      <div class="flex flex-col items-end">
        <span class="text-base"><%= reading_log.completed_book_percentage %>%</span>
        <div class="text-sm opacity-40">Started on <%= format_on_date(reading_log.created_at) %></div>
      </div>
    <% end %>
  </div>
<% end %>
</div>