<% if @reading_log.is_reminder_enabled && @reading_log.reminder_scheduled_at %>
  <div class="text-sm inline-flex items-center rounded-md text-base mb-1">
      Reminders sent
      <% if @reading_log.daily? %>
        <% if @reading_log.reminder_days.count == 7 %>
        daily at <%= render_reminder_time(@reading_log.reminder_time) %>
        <% elsif @reading_log.reminder_days.count == 1 %>
        every <%= @reading_log.reminder_days.map(&:capitalize).join(", ") %> at <%= render_reminder_time(@reading_log.reminder_time) %>
        <% else %>
          <% if @reading_log.reminder_days.present? %>
            on <%= @reading_log.reminder_days.map(&:capitalize).join(", ") %> at <%= render_reminder_time(@reading_log.reminder_time) %>
          <% end %>
        <% end %>
      <% elsif @reading_log.weekly? %>
        every <%= @reading_log.reminder_days.map(&:capitalize).join(", ") %> at <%= render_reminder_time(@reading_log.reminder_time) %>
      <% elsif @reading_log.monthly? %>
        monthly on the first <%= @reading_log.reminder_days.map(&:capitalize).join(", ") %> at <%= render_reminder_time(@reading_log.reminder_time) %>
      <% end %>
  </div>
<% end %>