<% render_title 'Reading Logs'%>

<%= render(PageHeaderComponent.new(title: "Home", description_margin: true, description: "A list of all your reading logs, with the books and their start or completion dates.")) do |c| %>
  <%= c.with_right_content do %>
    <%= link_to new_reading_log_path, class: "btn flex space-x-1.5 items-center btn--slim w-fit" do %>
      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
      <span>New Reading Log</span>
    <% end %>
  <% end %>
<% end %>

<%= render(TabsComponent.new(items: [
    {title: "Started", path: root_path, is_active: !@has_completed_status},
    {title: "Completed", path: root_path(status: 'completed'), is_active: @has_completed_status}
  ])) %>

<% if @reading_logs.present? %>
  <div class="pb-24">
    <%= turbo_frame_tag reading_logs_turbo_frame_id do %>
      <%= render @reading_logs %>
    <% end %>
    <div class="infinite-scroll">
      <style>
        .infinite-scroll turbo-frame[loading="lazy"]:empty {
          margin-top: -80px; /* lazy load offset */
          display: block;
        }
      </style>
      <%= turbo_frame_tag reading_logs_pagination_turbo_frame_id,
        src: root_path(format: :turbo_stream, page: @pagy.next, status: params[:status]),
        loading: :lazy %>
    </div>
  </div>
<% else %>
  <% if @has_completed_status %>
    <%= render(EmptyStateComponent.new(message: "You don't have any completed reading logs.")) %>
  <% else %>
    <%= render(EmptyStateComponent.new(message: "You don't have any reading logs in progress.")) do %>
      <%= link_to new_reading_log_path, class: "mt-5 inline-block w-fit btn btn--primary" do %>
        <span class="">Get Started</span>
      <% end %>
    <% end %>
  <% end %>
<% end %>