<% render_title 'Reading Logs'%>

<div class="flex justify-between items-center mb-5">
  <%= render(HeadingComponent.new(title: "Home")) %>
  <%= link_to "New Reading Log", new_reading_log_path, class: "btn btn--primary btn--slim w-fit" %>
</div>

<%= render(TabsComponent.new(
  items: [
    {title: "Started", path: root_path, is_active: !@has_completed_status},
    {title: "Completed", path: root_path(status: 'completed'), is_active: @has_completed_status}
  ]
  )) %>

<% if @reading_logs.present? %>
  <div class="pb-24">
    <%= turbo_frame_tag reading_logs_turbo_frame_id do %>
      <%= render @reading_logs %>
    <% end %>
    <div class="infinite-scroll">
      <style>
        .infinite-scroll turbo-frame[loading="lazy"]:empty {
          margin-top: -80px; /* lazy load offset */
          display: block;
        }
      </style>
      <%= turbo_frame_tag reading_logs_pagination_turbo_frame_id,
        src: root_path(format: :turbo_stream, page: @pagy.next, status: params[:status]),
        loading: :lazy %>
    </div>
  </div>
<% else %>
  <div class="pt-16 pb-24 rounded-lg text-lg text-center">
    <% if @has_completed_status %>
    <p class="opacity-50">You don't have any completed reading logs.</p>
    <% else %>
    <p class="mb-7 opacity-50">You don't have any reading logs in progress.</p>
    <%= link_to new_reading_log_path, class: "btn btn--primary" do %>
      <span class="">Get Started</span>
    <% end %>
    <% end %>
  </div>
<% end %>