<div data-controller="cache" class="mb-4 flex justify-between items-center">
  <%= render(HeadingComponent.new(title: "Reading Logs")) %>
  <%= link_to new_reading_log_path, class: "btn btn--primary w-auto" do %>
    <span>New Reading Log</span>
  <% end %>
</div>
<% @reading_logs.each do |reading_log| %>
  <%= link_to reading_log_path(reading_log), class: "#{reading_log.completed_at ? 'bg-green-100 shadow-green-100 border-green-300' : 'bg-white'} shadow-sm border py-3.5 px-6 rounded-md block mb-5" do %>
    <p class="text-lg font-medium"><%= reading_log.name %></p>
    <% if reading_log.completed_at %>
      <span class="block text-sm opacity-50">Completed on <%= format_date(reading_log.completed_at) %></span>
    <% else %>
      <span class="text-sm opacity-50">Started on <%= format_date(reading_log.created_at) %></span>
    <% end %>
  <% end %>
<% end %>