<% render_title 'Reading Logs'%>

<div class="">
  <div class="mb-5 flex items-start space-y-3 sm:space-y-0 sm:justify-between sm:items-center flex-col sm:flex-row">
    <%= render(HeadingComponent.new(title: "Reading Logs")) %>
    <%= link_to new_reading_log_path, class: "btn btn--primary w-auto btn--slim flex items-center space-x-1 pl-1.5" do %>
      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
      <span>New Reading Log</span>
    <% end %>
  </div>
  <div class="mb-6">
    <p class="">A list of all your reading logs including their name, books, and started or completed date.</p>
  </div>
</div>
<div class="flex justify-start w-full">
  <%= link_to root_path, class: "#{'!opacity-100 border-b-black' unless @has_completed_status} w-full block text-center font-medium text-nowrap border-b-2 py-3 px-3 opacity-50" do %>
    <span>Started</span>
  <% end %>
  <%= link_to root_path(status: 'completed'), class: "#{'!opacity-100 border-b-black' if @has_completed_status} w-full block text-center font-medium text-nowrap border-b-2 py-3 px-3 opacity-50" do %>
    <span>Completed</span>
  <% end %>
</div>

<% if @reading_logs.present? %>
  <div class="pb-24">
    <%= turbo_frame_tag reading_logs_turbo_frame_id do %>
      <%= render @reading_logs %>
    <% end %>
    <div class="infinite-scroll">
      <style>
        .infinite-scroll turbo-frame[loading="lazy"]:empty {
          margin-top: -80px; /* lazy load offset */
          display: block;
        }
      </style>
      <%= turbo_frame_tag reading_logs_pagination_turbo_frame_id,
        src: root_path(format: :turbo_stream, page: @pagy.next, status: params[:status]),
        loading: :lazy %>
    </div>
  </div>
<% else %>
  <div class="mx-4 sm:mx-0 mt-8 px-4 py-10 rounded-lg text-lg text-center">
    <% if @has_completed_status %>
    <p class="opacity-50">You don't have any completed reading logs.</p>
    <% else %>
    <p class="opacity-50">You don't have any reading logs in progress.</p>
    <% end %>
  </div>
<% end %>