<% render_title "Books | #{@reading_log.name}" %>
<%= render(BackButtonComponent.new(title: "Back", path: root_path)) do |c|%>
  <%= c.with_middle_content do %>
  <% end %>
  <%= c.with_right_content do %>
    <div
      data-controller="dropdown"
      data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem keydown.esc->dropdown#hide"
      class="inline-block relative !ml-4">
      <button data-action="dropdown#toggle:stop" class="space-x-1.5 hover:underline flex items-center w-auto">
        <svg aria-label="Settings" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/><circle cx="12" cy="12" r="3"/></svg>
        <span class="text-nowrap">Settings</span>
      </button>
      <div data-dropdown-target="menu" class="hidden absolute top-8 right-0 z-10 flex w-screen max-w-max">
        <div class=" bg-white shadow-sm rounded-md border overflow-hidden w-[170px] py-1.5">
          <% unless @reading_log.template_reading_log_id.present? %>
            <%= link_to settings_reading_log_path(@reading_log), class: "group flex py-1.5 px-4 space-x-3 hover:bg-stone-100 items-center", data: { turbo_frame: "settings_form-name", dropdown_target: "menuItem"} do %>
              <span class="">Name</span>
            <% end %>
          <% end %>
          <%= link_to settings_reading_log_path(@reading_log), class: "group flex py-1.5 px-4 space-x-3 hover:bg-stone-100 items-center", data: { turbo_frame: "settings_form-reminders", dropdown_target: "menuItem"} do %>
            <span class="">Email Reminders</span>
          <% end %>
          <%= link_to settings_reading_log_path(@reading_log), class: "group flex py-1.5 px-4 space-x-3 hover:bg-stone-100 items-center", data: { turbo_frame: "settings_form-invite", dropdown_target: "menuItem"} do %>
            <span class="">Invite Others</span>
          <% end %>
          <hr class="border-t mt-1.5" />
          <%= link_to settings_reading_log_path(@reading_log), class: "group flex mt-1.5 py-1.5 px-4 space-x-3 hover:bg-stone-100 items-center", data: { turbo_frame: "settings_form-delete", dropdown_target: "menuItem"} do %>
            <span class="">Delete</span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<%= turbo_frame_tag "settings_form-name" %>
<%= turbo_frame_tag "settings_form-reminders" %>
<%= turbo_frame_tag "settings_form-invite" %>
<%= turbo_frame_tag "settings_form-delete" %>
  <div class="text-center mb-11 sm:mb-6">
    <% if @reading_log.completed? %>
      <div class="mx-auto mb-3 w-fit mt-0.5 flex items-center space-x-1.5 text-base font-medium text-emerald-700 bg-emerald-100  py-1 px-3 rounded-lg">
        <span>Completed <%= @reading_log.completed_books_count %>/<%= @reading_log.books_count %></span>
      </div>
    <% else %>
      <div class="mx-auto mb-3 w-fit mt-0.5 flex items-center space-x-1.5 text-base font-medium text-neutral-700 bg-neutral-100  py-1 px-3 rounded-lg">
        <span><%= "Book".pluralize(@reading_log.books_count) %> <%= @reading_log.completed_books_count %>/<%= @reading_log.books_count %></span>
      </div>
    <% end %>
    <h1 class="text-4xl font-semibold"><%= @reading_log.name %></h1>
    <% if @reading_log.is_group_reading_log? %>
      <%= render(BadgeComponent.new(title: "Group Reading", custom_classes: "mt-2 !mx-auto")) %>
    <% end %>
    <% unless @reading_log.completed? %>
      <%= render "upcoming_reminder" %>
    <% end %>
  </div>
  <% if @reading_log.is_group_reading_log? %>
    <div class="mb-10 rounded-lg shadow-sm border p-6 pb-2">
        <%= render "stats", reading_log: @reading_log %>
        <% if @reading_log.template_reading_log_id.present? %>
          <%= render "stats", reading_log: @reading_log.template_reading_log %>
          <% @reading_log.template_reading_log.child_reading_logs.where.not(user: current_user).each do |child_reading_log| %>
            <%= render "stats", reading_log: child_reading_log %>
          <% end %>
        <% else %>
          <% @reading_log.child_reading_logs.each do |child_reading_log| %>
              <%= render "stats", reading_log: child_reading_log %>
          <% end %>
        <% end %>
    </div>
  <% end %>
<%= render(TabsComponent.new(
  items: [
    {title: "All Books", path: reading_log_path(@reading_log), is_active: @has_no_status},
    {title: "In Progress", path: reading_log_path(@reading_log, status: "pending"), is_active: @has_pending_status},
    {title: "Completed", path: reading_log_path(@reading_log, status: 'completed'), is_active: @has_completed_status}
  ],
  is_center: true
  )) %>

    <div class="mt-5 flex-1 <%= '' if @pinned_books.present? %>">
      <% if @has_no_status %>
        <div id="<%= pinned_books_turbo_frame_id %>" class="">
          <% @pinned_books.each do |book| %>
            <%= render "books/card", book: book %>
          <% end %>
        </div>
        <div id="<%= unpinned_books_empty_turbo_frame_id %>" class="">
          <% if @pinned_books.present? && @has_unpinned_books.present? %>
            <%= render "reading_logs/all_books_header" %>
          <% end %>
        </div>
      <% end %>

      <% if @books.present? || @pinned_books.present? %>
        <div id="<%= unpinned_books_turbo_frame_id %>" class="">
          <% @books.each do |book| %>
            <%= render "books/card", book: book %>
          <% end %>
        </div>
      <% else %>
        <div class="pt-16 pb-24 rounded-lg text-lg text-center">
          <p class="opacity-40 text-lg">
            <% if @has_pending_status %>
            You don't have any books in progress.
            <% elsif @has_completed_status %>
            You don't have any completed books.
            <% end %>
          </p>
        </div>
      <% end %>
  </div>
  </div>