<div class="mb-4 flex flex-col sm:flex-row sm:justify-between space-y-3 sm:space-y-0 items-start sm:items-start">
  <div class="pr-1">
    <%= render(HeadingComponent.new(title: @reading_log.name)) %>
    <span class="text-sm opacity-50">Started on <%= format_date(@reading_log.created_at, false) %></span>
  </div>
  <%= link_to settings_reading_log_path(@reading_log), class: "btn w-auto btn--slim" do %>
    <span>Settings</span>
  <% end %>
</div>
<div class="flex-1 <%= '' if @pinned_books.present? %>">
  <h4 class="text-center opacity-50 mb-2 uppercase">Pinned</h4>
  <div id="<%= pinned_books_empty_turbo_frame_id %>">
    <% if @pinned_books.empty? %>
      <%= render "reading_logs/pinned_books_empty" %>
    <% end %>
  </div>
  <div id="<%= pinned_books_turbo_frame_id %>" class="space-y-6">
    <% @pinned_books.each do |book| %>
      <%= render "books/card", book: book %>
    <% end %>
  </div>
  <div id="<%= unpinned_books_empty_turbo_frame_id %>">
    <% if @has_unpinned_books && %>
      <%= render "reading_logs/all_books_header", no_border: @pinned_books.empty? %>
    <% end %>
  </div>
  <div id="<%= unpinned_books_turbo_frame_id %>" class="space-y-6">
    <% @books.each do |book| %>
      <%= render "books/card", book: book %>
    <% end %>
  </div>
</div>