<div class="mb-4 flex justify-between items-end">
  <div>
    <%= render(HeadingComponent.new(title: @reading_log.name)) %>
    <span class="text-sm opacity-50">Started on <%= format_date(@reading_log.created_at) %></span>
  </div>
  <%= link_to settings_reading_log_path(@reading_log), class: "flex items-center space-x-1.5 py-1 pr-3 pl-2.5 rounded-md shadow-sm bg-white border text-neutral-700 hover:bg-neutral-50" do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#454545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/><circle cx="12" cy="12" r="3"/></svg>
    <span>Settings</span>
  <% end %>
</div>
<div class="flex-1 <%= '' if @pinned_books.present? %>">
  <h4 class="opacity-50 mb-2 uppercase">Pinned books</h4>
  <div id="<%= pinned_books_empty_turbo_frame_id %>">
    <% if @pinned_books.empty? %>
      <%= render "reading_logs/pinned_books_empty" %>
    <% end %>
  </div>
  <div id="<%= pinned_books_turbo_frame_id %>" class="space-y-6">
    <% @pinned_books.each do |book| %>
      <%= render "books/card", book: book %>
    <% end %>
  </div>
  <div id="<%= unpinned_books_empty_turbo_frame_id %>">
    <% if @has_unpinned_books %>
      <%= render "reading_logs/all_books_header" %>
    <% end %>
  </div>
  <div id="<%= unpinned_books_turbo_frame_id %>" class="space-y-6">
    <% @books.each do |book| %>
      <%= render "books/card", book: book %>
    <% end %>
  </div>
</div>