<% render_title "Books | #{@reading_log.name}" %>

<div class=''>
  <div class="flex items-center mb-4 md:justify-between justify-end absolute md:relative top-4 right-5 md:top-0 md:right-0 space-x-3">
    <div class="text-sm opacity-40">Read <%= @reading_log.completed_books_count %> of <%= pluralize(@reading_log.books_count, "book") %></div>
    <%= link_to settings_reading_log_path(@reading_log), class: "btn !text-sm btn--slim flex items-center p-1.5 w-auto" do %>
      <svg aria-label="Settings" role="img" viewBox="0 0 24 24" class="w-5 h-5" style="--fill: currentColor; --height: 20px; --width: 20px;"><title>More</title><circle cx="12" cy="12" r="1.5"></circle><circle cx="6" cy="12" r="1.5"></circle><circle cx="18" cy="12" r="1.5"></circle></svg>
      <span class="sr-only">Settings</span>
    <% end %>
  </div>
  <div class="text-center mb-7">
    <h1 class="text-4xl font-bold"><%= @reading_log.name %></h1>
    <%= render "upcoming_reminder" %>
  </div>
  <div class="flex mb-7 justify-center items-center">
    <div
      data-controller="dropdown"
      data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem keydown.esc->dropdown#hide"
      class="inline-block relative hidden">
      <button
        data-action="dropdown#toggle:stop"
        class="<%= '' if @has_completed_status %> <%= '' if @has_pending_status %> space-x-2 justify-center pl-3.5 pr-2.5 flex items-center btn !w-full">
        <div class="flex items-center space-x-3 text-sm">
          <% if @has_completed_status %>
            <svg class="stroke-emerald-600 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><path d="m9 11 3 3L22 4"/></svg>
            <span class="">Completed</span>
          <% elsif @has_pending_status %>
            <svg class="stroke-yellow-600  w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-dashed"><path d="M10.1 2.182a10 10 0 0 1 3.8 0"/><path d="M13.9 21.818a10 10 0 0 1-3.8 0"/><path d="M17.609 3.721a10 10 0 0 1 2.69 2.7"/><path d="M2.182 13.9a10 10 0 0 1 0-3.8"/><path d="M20.279 17.609a10 10 0 0 1-2.7 2.69"/><path d="M21.818 10.1a10 10 0 0 1 0 3.8"/><path d="M3.721 6.391a10 10 0 0 1 2.7-2.69"/><path d="M6.391 20.279a10 10 0 0 1-2.69-2.7"/></svg>
            <span class="">In Progress</span>
          <% else %>
            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-align-justify"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
            <span class="">All Books</span>
          <% end %>
        </div>
        <svg class="w-4 h-4 opacity-50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
      </button>
      <div data-dropdown-target="menu" class="hidden absolute top-7 left-0 z-10 mt-5 flex text-sm">
        <div class="bg-white shadow-sm rounded-md border overflow-hidden w-[160px]">
          <%= link_to reading_log_path(@reading_log), class: "space-x-3 group flex rounded-md mx-1 my-1 py-1.5 pl-2.5 pr-4 hover:bg-stone-100 items-center", data: { dropdown_target: "menuItem"} do %>
            <svg class="w-4 h-4 min-h-4 min-w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-align-justify"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
            <span class="w-full">All Books</span>
          <% end %>
          <%= link_to reading_log_path(@reading_log, status: "pending"), class: "space-x-3 group flex rounded-md mx-1 my-1 py-1.5 pl-2.5 pr-4 hover:bg-stone-100 items-center", data: { dropdown_target: "menuItem"} do %>
            <svg class="stroke-yellow-600  w-4 h-4 min-h-4 min-w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-dashed"><path d="M10.1 2.182a10 10 0 0 1 3.8 0"/><path d="M13.9 21.818a10 10 0 0 1-3.8 0"/><path d="M17.609 3.721a10 10 0 0 1 2.69 2.7"/><path d="M2.182 13.9a10 10 0 0 1 0-3.8"/><path d="M20.279 17.609a10 10 0 0 1-2.7 2.69"/><path d="M21.818 10.1a10 10 0 0 1 0 3.8"/><path d="M3.721 6.391a10 10 0 0 1 2.7-2.69"/><path d="M6.391 20.279a10 10 0 0 1-2.69-2.7"/></svg>
            <span class="w-full">In Progress</span>
          <% end %>
          <%= link_to reading_log_path(@reading_log, status: "completed"), class: "space-x-3 group flex rounded-md mx-1 my-1 py-1.5 pl-2.5 pr-4 hover:bg-stone-100 items-center", data: { dropdown_target: "menuItem"} do %>
            <svg class="stroke-emerald-600 w-4 h-4 min-h-4 min-w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><path d="m9 11 3 3L22 4"/></svg>
            <span class="w-full">Completed</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex w-full">
      <%= link_to reading_log_path(@reading_log), class: "#{'!opacity-100 border-b-black' if @has_no_status } font-medium opacity-50 text-center w-full text-nowrap border-b-2 py-3 px-3" do %>
        <span class="">All Books</span>
      <% end %>
      <%= link_to reading_log_path(@reading_log, status: "pending"), class: "#{'!opacity-100 border-b-black' if @has_pending_status} font-medium opacity-50 text-center w-full text-nowrap border-b-2 py-3 px-3" do %>
        <span class="">In Progress</span>
      <% end %>
      <%= link_to  reading_log_path(@reading_log, status: 'completed'), class: "#{'!opacity-100 border-b-black' if @has_completed_status} font-medium opacity-50 text-center w-full text-nowrap border-b-2 py-3 px-3" do %>
        <span class="">Completed</span>
      <% end %>
    </div>

    <%= link_to settings_reading_log_path(@reading_log), id: "mobile-settings", class: "!text-sm hidden btn btn--primary w-auto btn--slim flex items-center space-x-2 pl-3 pr-4" do %>
      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/><circle cx="12" cy="12" r="3"/></svg>
      <span>Settings</span>
    <% end %>
  </div>


  <div class="mt-5 flex-1 <%= '' if @pinned_books.present? %>">
    <% if @has_no_status %>
      <div id="<%= pinned_books_turbo_frame_id %>">
        <% @pinned_books.each do |book| %>
          <%= render "books/card", book: book %>
        <% end %>
      </div>
      <div id="<%= unpinned_books_empty_turbo_frame_id %>" class="">
        <% if @pinned_books.present? && @has_unpinned_books.present? %>
          <%= render "reading_logs/all_books_header" %>
        <% end %>
      </div>
    <% end %>

    <% if @books.present? || @pinned_books.present? %>
      <div id="<%= unpinned_books_turbo_frame_id %>">
        <% @books.each do |book| %>
          <%= render "books/card", book: book %>
        <% end %>
      </div>
    <% else %>
      <div class="px-4 py-10 rounded-lg text-center ">
        <p class="opacity-40 text-lg">
          <% if @has_pending_status %>
          You don't have any books in progress.
          <% elsif @has_completed_status %>
          You don't have any completed books.
          <% end %>
        </p>
      </div>
    <% end %>
</div>
</div>

