<% render_title "Books | #{@reading_log.name}" %>
<%= render(PageActionsHeaderComponent.new(path: root_path)) do |c|%>
  <%= c.with_right_content do %>
    <div class="flex space-x-2 -mr-2.5 items-center">
      <% if @reading_log.completed? %>
        <div class="mr-1.5 mx-auto w-fit flex items-center font-medium text-base text-emerald-700 bg-emerald-100  py-1 px-3 rounded-lg">
          <span><%= @reading_log.completed_books_count %>/<%= @reading_log.books_count %></span>
        </div>
      <% else %>
        <div class="mr-1.5 mx-auto w-fit flex items-center font-medium text-base text-neutral-900 bg-stone-100  py-1 px-3 rounded-lg">
          <span><%= @reading_log.completed_books_count %>/<%= @reading_log.books_count %></span>
        </div>
      <% end %>
      <%= link_to settings_reading_log_path(@reading_log), class: "round-link", data: { turbo_frame: "settings_form-invite", dropdown_target: "menuItem"} do %>
        <svg class="" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-round"><path d="M18 21a8 8 0 0 0-16 0"/><circle cx="10" cy="8" r="5"/><path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"/></svg>
        <span class="sr-only">Invite</span>
      <% end %>
      <div
        data-controller="dropdown"
        data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem keydown.esc->dropdown#hide"
        class="inline-block relative">
        <button data-action="dropdown#toggle:stop" class="round-link">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/><circle cx="12" cy="12" r="3"/></svg>
          <span class="sr-only">Settings</span>
        </button>
        <div data-dropdown-target="menu" class="hidden absolute top-12 right-0 z-10 flex w-screen max-w-max">
          <div class=" bg-white shadow-sm rounded-lg border overflow-hidden w-[180px] py-1.5">
            <% unless @reading_log.template_reading_log_id.present? %>
              <%= link_to settings_reading_log_path(@reading_log), class: "group flex py-2 px-4 space-x-3 hover:bg-stone-100 items-center", data: { turbo_frame: "settings_form-name", dropdown_target: "menuItem"} do %>
                <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pen"><path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"/></svg>
                <span class="">Edit Name</span>
              <% end %>
            <% end %>
            <%= link_to settings_reading_log_path(@reading_log), class: "group flex py-2 px-4 space-x-3 hover:bg-stone-100 items-center", data: { turbo_frame: "settings_form-reminders", dropdown_target: "menuItem"} do %>
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
              <span class="">Notifications</span>
            <% end %>
            <%= link_to settings_reading_log_path(@reading_log), class: "hidden group flex py-2 px-4 space-x-3 hover:bg-stone-100 items-center", data: { turbo_frame: "settings_form-invite", dropdown_target: "menuItem"} do %>
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-round"><path d="M18 21a8 8 0 0 0-16 0"/><circle cx="10" cy="8" r="5"/><path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"/></svg>
              <span class="">Invite Others</span>
            <% end %>
            <hr class="border-t mt-1.5" />
            <%= link_to settings_reading_log_path(@reading_log), class: "group flex mt-1.5 py-2 px-4 space-x-3 hover:bg-stone-100 items-center", data: { turbo_frame: "settings_form-delete", dropdown_target: "menuItem"} do %>
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
              <span class="">Delete</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<%= turbo_frame_tag "settings_form-name" %>
<%= turbo_frame_tag "settings_form-reminders" %>
<%= turbo_frame_tag "settings_form-invite" %>
<%= turbo_frame_tag "settings_form-delete" %>
  <div class="-mt-3 text-center mb-11 sm:mb-6">
    <h1 class="text-4xl font-semibold"><%= @reading_log.name %></h1>
    <% unless @reading_log.completed? %>
      <%= render "upcoming_reminder" %>
    <% end %>
    <% if @reading_log.is_group_reading_log? %>
      <div class="mt-4">
        <%= link_to show_stats_reading_log_path(@reading_log), class: "hover:scale-[102%] !text-sm duration-100 inline-flex w-auto items-center btn btn--slim space-x-2", data: {turbo_frame: "stats"} do %>
          <span>Show Group Progress</span>
        <% end %>
        <%= turbo_frame_tag "stats" %>
      </div>
    <% end %>
  </div>
  <div class="mt-14">
<%= render(TabsComponent.new(
  items: [
    {title: "All Books", path: reading_log_path(@reading_log), is_active: @has_no_status},
    {title: "In Progress", path: reading_log_path(@reading_log, status: "pending"), is_active: @has_pending_status},
    {title: "Completed", path: reading_log_path(@reading_log, status: 'completed'), is_active: @has_completed_status}
  ],
  is_center: true
  )) %>
  </div>

    <div class="mt-5 flex-1 <%= '' if @pinned_books.present? %>">
      <% if @has_no_status %>
        <div id="<%= pinned_books_turbo_frame_id %>" class="">
          <% @pinned_books.each do |book| %>
            <%= render "books/card", book: book %>
          <% end %>
        </div>
        <div id="<%= unpinned_books_empty_turbo_frame_id %>" class="">
          <% if @pinned_books.present? && @has_unpinned_books.present? %>
            <%= render "reading_logs/all_books_header" %>
          <% end %>
        </div>
      <% end %>

      <% if @books.present? || @pinned_books.present? %>
        <div id="<%= unpinned_books_turbo_frame_id %>" class="">
          <% @books.each do |book| %>
            <%= render "books/card", book: book %>
          <% end %>
        </div>
      <% else %>
       <% if @has_pending_status %>
        <%= render(EmptyStateComponent.new(message: "You don't have any books in progress.")) %>
       <% else %>
        <%= render(EmptyStateComponent.new(message: "You don't have any completed books.")) %>
       <% end %>
      <% end %>
  </div>
  </div>