<%= turbo_frame_tag "stats" do %>
  <%= render(ModalComponent.new(title: "Group Progress")) do %>
      <div class="mt-10">
        <!--Current user reading log-->
        <%= render "stats", reading_log: @reading_log %>
        <!--if a child reading log-->
        <% if @reading_log.is_child_reading_log? %>
          <!--Render owner reading log-->
          <%= render "stats", reading_log: @reading_log.template_reading_log %>
          <!--Render other user reading logs-->
          <% @reading_log.template_reading_log.child_reading_logs.where.not(user: current_user).each do |child_reading_log| %>
            <%= render "stats", reading_log: child_reading_log %>
          <% end %>
        <% else %>
          <!--if owner reading log, render child reading logs-->
          <% @reading_log.child_reading_logs.each do |child_reading_log| %>
              <%= render "stats", reading_log: child_reading_log %>
          <% end %>
        <% end %>
      </div>
  <% end %>
<% end %>
