<%= turbo_frame_tag "stats" do %>
  <%= render(ModalComponent.new(title: "Group Progress")) do %>
      <div class="mt-5">
        <%= render "stats", reading_log: @reading_log %>
        <% if @reading_log.template_reading_log_id.present? %>
          <%= render "stats", reading_log: @reading_log.template_reading_log %>
          <% @reading_log.template_reading_log.child_reading_logs.where.not(user: current_user).each do |child_reading_log| %>
            <%= render "stats", reading_log: child_reading_log %>
          <% end %>
        <% else %>
          <% @reading_log.child_reading_logs.each do |child_reading_log| %>
              <%= render "stats", reading_log: child_reading_log %>
          <% end %>
        <% end %>
      </div>
  <% end %>
<% end %>