<% render_title "Books | #{@reading_log.name}" %>
<%= render(BackButtonComponent.new(title: "Home", path: root_path)) do |c|%>
  <%= c.with_middle_content do %>
  <div class="mt-0.5 flex items-center space-x-2 text-base font-medium text-neutral-900 bg-neutral-200   py-1.5 px-3 rounded-lg">
    <svg class="w-5 h-5 stroke-neutral-900" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book"><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"/></svg>
    <span><%= "Book".pluralize(@reading_log.books_count) %> <%= @reading_log.completed_books_count %>/<%= @reading_log.books_count %></span>
  </div>
  <% end %>
  <%= c.with_right_content do %>
    <%= link_to settings_reading_log_path(@reading_log), class: "space-x-1.5 hover:underline flex items-center w-auto", data: { turbo_frame: "settings_form"} do %>
      <svg aria-label="Settings" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/><circle cx="12" cy="12" r="3"/></svg>
      <span class="">Settings</span>
    <% end %>
  <% end %>
<% end %>
<%= turbo_frame_tag "settings_form" %>
<%= render(CardWrapperComponent.new(custom_classes: "pb-8")) do %>
  <div class="text-center mb-7">
    <% if @reading_log.completed? %>
      <div class="mx-auto mb-3 w-fit mt-0.5 flex items-center space-x-1.5 text-base font-medium text-emerald-700 bg-emerald-100  py-1 px-3 rounded-lg">
        <svg class="w-5 h-5 stroke-emerald-700" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
        <span>Completed</span>
      </div>
    <% end %>
    <h1 class="text-3xl font-bold"><%= @reading_log.name %></h1>
    <%= render "upcoming_reminder" %>
  </div>
  <div class="w-full flex justify-center mb-6 space-x-5">
    <%= link_to reading_log_path(@reading_log), class: "#{'!opacity-100 border-red-700 text-red-700
    ' if @has_no_status} group block  text-center font-medium text-nowrap opacity-50 hover:opacity-100 focus-visible:opacity-100" do %>
      <span class="group-hover:text-red-700 group-focus-visible:text-red-700 group-focus-visible:border-b-red-700 pb-2 border-b-2 border-transparent <%= 'border-b-red-700' if @has_no_status %>">All Books</span>
    <% end %>
    <%= link_to reading_log_path(@reading_log, status: "pending"), class: "#{'!opacity-100 border-red-700 text-red-700
    ' if @has_pending_status} group block  text-center font-medium text-nowrap opacity-50 hover:opacity-100 focus-visible:opacity-100" do %>
      <span class="group-hover:text-red-700 group-focus-visible:text-red-700 group-focus-visible:border-b-red-700 pb-2 border-b-2 border-transparent <%= 'border-b-red-700' if @has_pending_status %>">In Progress</span>
    <% end %>
    <%= link_to reading_log_path(@reading_log, status: 'completed'), class: "#{'!opacity-100 border-red-700 text-red-700
    ' if @has_completed_status} group block  text-center font-medium text-nowrap opacity-50 hover:opacity-100 focus-visible:opacity-100" do %>
      <span class="group-hover:text-red-700 group-focus-visible:text-red-700 group-focus-visible:border-b-red-700 pb-2 border-b-2 border-transparent <%= 'border-b-red-700' if @has_completed_status %>">Completed</span>
    <% end %>
  </div>

    <div class="mt-5 flex-1 <%= '' if @pinned_books.present? %>">
      <% if @has_no_status %>
        <div id="<%= pinned_books_turbo_frame_id %>" class="divide-y">
          <% @pinned_books.each do |book| %>
            <%= render "books/card", book: book %>
          <% end %>
        </div>
        <div id="<%= unpinned_books_empty_turbo_frame_id %>" class="divide-y">
          <% if @pinned_books.present? && @has_unpinned_books.present? %>
            <%= render "reading_logs/all_books_header" %>
          <% end %>
        </div>
      <% end %>

      <% if @books.present? || @pinned_books.present? %>
        <div id="<%= unpinned_books_turbo_frame_id %>" class="divide-y">
          <% @books.each do |book| %>
            <%= render "books/card", book: book %>
          <% end %>
        </div>
      <% else %>
      <div class="mx-4 px-4 pt-20 pb-24 rounded-lg text-lg text-center">
          <p class="opacity-40 text-lg">
            <% if @has_pending_status %>
            You don't have any books in progress.
            <% elsif @has_completed_status %>
            You don't have any completed books.
            <% end %>
          </p>
        </div>
      <% end %>
  </div>
  </div>
<% end %>
