<div class="mb-4 flex flex-col sm:flex-row sm:justify-between space-y-3 sm:space-y-0 items-start sm:items-start">
  <div class="pr-2">
    <%= render(HeadingComponent.new(title: @reading_log.name)) %>
    <span class="text-base opacity-50">Started on <%= format_date(@reading_log.created_at, false) %></span>
  </div>
  <%= link_to settings_reading_log_path(@reading_log), class: "btn w-auto btn--slim  flex items-center space-x-1.5 pl-2.5" do %>
    <svg class="w-4 h-4 opacity-70" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/><circle cx="12" cy="12" r="3"/></svg>
    <span>Settings</span>
  <% end %>
</div>
<%= render "upcoming_reminder" %>

<div class="mt-5 flex-1 <%= '' if @pinned_books.present? %>">
  <div id="<%= pinned_books_empty_turbo_frame_id %>" class="">
    <% if @pinned_books.empty? %>
      <%= render "reading_logs/pinned_books_empty" %>
    <% end %>
  </div>
  <div id="<%= pinned_books_turbo_frame_id %>">
    <% @pinned_books.each do |book| %>
      <%= render "books/card", book: book %>
    <% end %>
  </div>
  <div id="<%= unpinned_books_empty_turbo_frame_id %>" class="">
    <% if @has_unpinned_books && %>
      <%= render "reading_logs/all_books_header", no_border: @pinned_books.empty? %>
    <% end %>
  </div>

<div class="mt-6 space-x-2 mb-4 flex justify-start">
  <%= link_to reading_log_path(@reading_log), class: "#{'btn btn--primary bg-sky-100 text-sky-800 !border-sky-400 hover:bg-sky-200 focus:!border-neutral-400' if @has_no_status } btn btn--slim !text-sm rounded-full w-auto flex items-center space-x-1.5 text-nowrap" do %>
    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list"><line x1="8" x2="21" y1="6" y2="6"/><line x1="8" x2="21" y1="12" y2="12"/><line x1="8" x2="21" y1="18" y2="18"/><line x1="3" x2="3.01" y1="6" y2="6"/><line x1="3" x2="3.01" y1="12" y2="12"/><line x1="3" x2="3.01" y1="18" y2="18"/></svg>
    <span>All Books</span>
  <% end %>
  <%= link_to reading_log_path(@reading_log, status: "pending"), class: "#{'btn btn--primary bg-yellow-100 text-yellow-800 !border-yellow-400 hover:bg-yellow-200 focus:!border-yellow-400' if @has_pending_status} btn btn--slim !text-sm rounded-full w-auto flex items-center space-x-1.5 text-nowrap" do %>
    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-dashed"><path d="M10.1 2.182a10 10 0 0 1 3.8 0"/><path d="M13.9 21.818a10 10 0 0 1-3.8 0"/><path d="M17.609 3.721a10 10 0 0 1 2.69 2.7"/><path d="M2.182 13.9a10 10 0 0 1 0-3.8"/><path d="M20.279 17.609a10 10 0 0 1-2.7 2.69"/><path d="M21.818 10.1a10 10 0 0 1 0 3.8"/><path d="M3.721 6.391a10 10 0 0 1 2.7-2.69"/><path d="M6.391 20.279a10 10 0 0 1-2.69-2.7"/></svg>
    <span>In Progress</span>
  <% end %>
  <%= link_to  reading_log_path(@reading_log, status: 'completed'), class: "#{'btn btn--primary bg-emerald-100 text-emerald-800 !border-emerald-400 hover:bg-emerald-200 focus:!border-emerald-400' if @has_completed_status} btn btn--slim !text-sm rounded-full w-auto flex items-center space-x-1.5 text-nowrap" do %>
    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><path d="m9 11 3 3L22 4"/></svg>
    <span>Completed</span>
  <% end %>
</div>
  <div id="<%= unpinned_books_turbo_frame_id %>">
    <% @books.each do |book| %>
      <%= render "books/card", book: book %>
    <% end %>
  </div>
</div>