<%= render(HeadingComponent.new(title: "Account")) %>

<%= render(SideFormWrapperComponent.new(title: "Password", description: "Choose a secure password.")) do  %>
  <%= form_with model: current_user, url: update_password_path do |form| %>
    <%= render(FormErrorsComponent.new(form: form)) %>

    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "password_challenge", title: "Current password", form: form)) %>
      <%= render(InputComponent.new(type: "password", form: form, id_and_name: "password_challenge", required: true, custom_classes: "")) %>
    <% end %>
    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "password", title: "New Password", form: form)) %>
      <%= render(InputComponent.new(type: "password", form: form, id_and_name: "password", required: true, custom_classes: "")) %>
    <% end %>
    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "password_confirmation", form: form)) %>
      <%= render(InputComponent.new(type: "password", form: form, id_and_name: "password_confirmation", required: true, custom_classes: "")) %>
    <% end %>
    <div>
      <%= form.submit "Save", class: "btn btn--primary w-auto" %>
    </div>
  <% end %>
<% end %>
<%= render(SideFormWrapperComponent.new(title: "Time zone", description: "Emails will be sent relative to your time zone.")) do  %>
  <%= form_with(model:  current_user, url: update_time_zone_path, class: "contents") do |form| %>
    <%= render(FormErrorsComponent.new(form: form)) %>

    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "time_zone", title: "Time zone", form: form)) %>
      <%= form.select :time_zone, time_zone_options_for_select(form.object.time_zone, nil, ActiveSupport::TimeZone), {}, { class: "form-select" }%>
    <% end %>
    <%= form.submit "Save", class: "btn btn--primary w-auto" %>
  <% end %>
<% end %>
<%= render(SideFormWrapperComponent.new(title: "Theme", description: "Set a theme for the app.")) do  %>
  <%= form_with(model:  current_user, url: update_color_theme_path, class: "contents") do |form| %>
    <%= render(FormErrorsComponent.new(form: form)) %>

    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "color_theme", title: "Theme", form: form)) %>
      <%= form.select :color_theme, User.color_themes.keys.map { |theme| [theme.capitalize, theme] }, {}, { class: "form-select" } %>
    <% end %>
    <%= form.submit "Save", class: "btn btn--primary w-auto" %>
  <% end %>
<% end %>