<% render_title "Account" %>
<%= render(PageActionsHeaderComponent.new(title: "Home", path: root_path)) %>
<%= render(PageHeaderComponent.new(title: "Account Settings")) %>

<%= render(AccountFormWrapperComponent.new(title: "Email", description: current_user.email, custom_class: "!pb-4"))  %>
<%= render(AccountFormWrapperComponent.new(title: "Name", description: "Edit your first and last name.")) do  %>
  <%= form_with model: current_user, url: update_name_path do |form| %>
    <%= render(FormErrorsComponent.new(errors: @name_errors)) %>

    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "first_name", form: form)) %>
      <%= render(InputComponent.new(type: "text", form: form, id_and_name: "first_name", required: true, custom_classes: "")) %>
    <% end %>
    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "last_name", form: form)) %>
      <%= render(InputComponent.new(type: "text", form: form, id_and_name: "last_name", required: true, custom_classes: "")) %>
    <% end %>
    <%= render(SubmitButtonComponent.new(form: form, title: "Save changes", custom_classes:"md:w-auto", data: { turbo_submits_with: "Saving..."})) %>
  <% end %>
<% end %>
<%= render(AccountFormWrapperComponent.new(title: "Password", description: "Choose a secure password.")) do  %>
  <%= form_with model: current_user, url: update_password_path do |form| %>
    <%= render(FormErrorsComponent.new(errors: @password_errors)) %>

    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "password_challenge", title: "Current password", form: form)) %>
      <%= render(InputComponent.new(type: "password", form: form, id_and_name: "password_challenge", required: true, custom_classes: "")) %>
    <% end %>
    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "password", title: "New Password", form: form)) %>
      <%= render(InputComponent.new(type: "password", form: form, id_and_name: "password", required: true, custom_classes: "")) %>
    <% end %>
    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "password_confirmation", form: form)) %>
      <%= render(InputComponent.new(type: "password", form: form, id_and_name: "password_confirmation", required: true, custom_classes: "")) %>
    <% end %>
    <div>
      <%= render(SubmitButtonComponent.new(form: form, title: "Save changes", custom_classes:"md:w-auto", data: { turbo_submits_with: "Saving..."})) %>
    </div>
  <% end %>
<% end %>
<%= render(AccountFormWrapperComponent.new(title: "Time zone", description: "Notifications will be sent in your time zone.", custom_class: "border-b-0 !mb-0")) do  %>
  <%= form_with(model:  current_user, url: update_time_zone_path, class: "contents") do |form| %>
    <%= render(FormErrorsComponent.new(errors: @time_zone_errors)) %>

    <%= render(FieldContainerComponent.new) do %>
      <%= render(LabelComponent.new(for_attribute: "time_zone", title: "Time zone", form: form)) %>
      <%= form.select :time_zone, time_zone_options_for_select(form.object.time_zone, nil, ActiveSupport::TimeZone), {}, { class: "form-select" }%>
    <% end %>
    <%= render(SubmitButtonComponent.new(form: form, title: "Save changes", custom_classes:"md:w-auto", data: { turbo_submits_with: "Saving..."})) %>
  <% end %>
<% end %>