<%= render 'ui/heading', title: "Sign up" %>

<%= form_with url: registrations_path, model: @user do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email_address, class: "label" %>
    <%= form.email_field :email_address, required: true, autofocus: true, class: "input", autocomplete: "username", placeholder: "Enter your email address" %>
  </div>

  <div class="field">
    <%= form.label :password, class: "label" %>
    <%= form.password_field :password, required: true, class: "input", autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, class: "label" %>
    <%= form.password_field :password_confirmation, required: true, class: "input", autocomplete: "current-password", placeholder: "Confirm your password", maxlength: 72 %>
  </div>

  <%= form.hidden_field :time_zone, data: { controller: "time-zone", time_zone_target: "field" } %>
  <%= form.submit "Sign up", class: "button w-full" %>
<% end %>

<div class="mt-6">
  <%= link_to "Back to sign in", new_session_path, class: "link" %>
</div>
