<%= form_with url: book_toggle_chapter_path(book), method: :patch, class: "block w-full", id: "book-#{book.id}-#{chapter_data["chapter_number"]}" do |form| %>
  <%= form.hidden_field :chapter_number, value: chapter_data["chapter_number"] %>
  <%= form.hidden_field :is_completed, value: chapter_data["completed_at"].present? %>
  <button type="submit" class="<%= '!bg-green-100' if chapter_data["completed_at"] %> bg-gray-100 w-full rounded mb-2 p-3 flex items-center space-x-4">
    <div class="<%= '!bg-transparent' if chapter_data["completed_at"] %> text-lg bg-white rounded-md h-[24px] w-[24px] cursor-pointer flex items-center justify-center">
      <%  if chapter_data["completed_at"] %>✅<% end %>
    </div>
    <div class="opacity-80">Chapter <%= chapter_data["chapter_number"] %></div>
  </button>
<% end %>