<%= content_tag :div, class: "items-center justify-between block rounded-lg border shadow-sm py-4 px-5 p w-full bg-white relative" do %>
  <div class="flex items-center justify-between mb-5 sm:mb-3 flex-col sm:flex-row space-y-1 sm:space-y-0">
    <div class="text-2xl sm:text-xl font-medium"><%= book.name %></div>
    <div class="flex items-center space-x-3">
      <button class="absolute top-3 right-3" aria-label="Pin Book">
        <svg focusable="false" class="<%= book.pin_order.present? ? "stroke-neutral-700 fill-neutral-700" : 'opacity-30 hover:opacity-100 fill-neutral-600 stroke-neutral-600' %> rotate-45 cursor-pointer w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pin"><line x1="12" x2="12" y1="17" y2="22"/><path d="M5 17h14v-1.76a2 2 0 0 0-1.11-1.79l-1.78-.9A2 2 0 0 1 15 10.76V6h1a2 2 0 0 0 0-4H8a2 2 0 0 0 0 4h1v4.76a2 2 0 0 1-1.11 1.79l-1.78.9A2 2 0 0 0 5 15.24Z"/></svg>
      </button>
      <%= render "books/book_card_percentage", book: book %>
    </div>
  </div>

  <%= render "books/book_progress_line", book: book %>

  <div class="text-sm mt-4 flex items-center justify-between">
    <%= render "books/book_card_chapters", book: book %>
    <div class="flex items-center space-x-3">
      <%= button_to reading_log_book_path(book.reading_log, book), method: :get, form: { class: " text-right"}, class: "hover:bg-gray-50 border rounded-md text-sm py-1 px-2 text-gray-600 cursor-pointer", data: { controller: "log-chapter", action: "log-chapter#toggle", log_chapter_opened_value: false, turbo_frame: book_checklist_turbo_frame_id(book)} do %>
        Log chapter
      <% end %>
    </div>
  </div>
  <%= turbo_frame_tag book_checklist_turbo_frame_id(book) %>
<% end %>