<% render_title "#{@book.name} | #{@reading_log.name}" %>

<%= render(PageHeaderComponent.new(path: reading_log_path(@reading_log))) %>
<div class="-mt-3 mx-auto max-w-2xl">
  <%= turbo_frame_tag completed_banner_turbo_frame_id do %>
    <% if @book.completed? %>
      <%= render "book_completed_banner" %>
    <% end %>
  <% end %>
</div>
  <div class="mx-auto text-center">
      <%= render "books/book_card_chapters", book: @book %>
      <%= render(HeadingComponent.new(title: @book.name)) %>
    <div class="flex flex-col">
        <%= render "books/book_card_percentage", book: @book %>
      <%= render "books/book_progress_line", book: @book %>
      <div class="mt-8 max-w-2xl mx-auto w-full flex-1">
        <div class="grid grid-cols-4 xs:grid-cols-5 sm:grid-cols-6 lg:grid-cols-7 gap-3">
          <% @book.chapters_data.each do |chapter_data| %>
            <%= render "book_chapter_square", book: @book, chapter_data: chapter_data %>
          <% end %>
        </div>
      </div>
    </div>
  </div>