<% render_title "#{@book.name} | #{@reading_log.name}" %>
<div class="mx-auto">
  <%= turbo_frame_tag completed_banner_turbo_frame_id do %>
    <% if @book.completed? %>
      <%= render "book_completed_banner" %>
    <% end %>
  <% end %>
  <%= render(HeadingComponent.new(title: @book.name)) %>
  <div class="flex flex-col">
    <div class="w-full flex-1 mb-10">
      <div class="space-y-3">
        <div class="flex justify-between">
          <%= render "books/book_card_chapters", book: @book %>
          <%= render "books/book_card_percentage", book: @book %>
        </div>
        <div>
          <%= render "books/book_progress_line", book: @book %>
        </div>
      </div>
    </div>
    <div class="w-full flex-1">
      <div class="grid grid-cols-4 xs:grid-cols-5 sm:grid-cols-6 lg:grid-cols-7 gap-3">
        <% @book.chapters_data.each do |chapter_data| %>
          <%= render "book_chapter_square", book: @book, chapter_data: chapter_data %>
        <% end %>
      </div>
    </div>
  </div>
</div>