<%= render 'ui/heading', title: "Update your password" %>

<%= form_with url: password_path(params[:token]), method: :put do |form| %>
  <div class="field">
    <%= form.label :password, class: "label" %>
    <%= form.password_field :password, required: true, autocomplete: "new-password", class: "input", placeholder: "Enter new password", maxlength: 72 %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation, class: "label" %>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "input", placeholder: "Repeat new password", maxlength: 72 %>
  </div>
  <%= form.submit "Save", class: "button w-full" %>
<% end %>
