<!DOCTYPE html>
<html>
  <head>
    <title>Bible Reading Log</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <% if @skip_turbo_cache_control == true %>
      <meta name="turbo-cache-control" content="no-cache">
    <% end %>
  </head>

  <body class="<%= "md:mt-24 pb-14 #{@back_button_values ? 'mt-16' : 'mt-20'}" if user_signed_in? %> font-sans">
    <% if user_signed_in? %>
      <div id="flash">
        <%= render "shared/flash" %>
      </div>
      <nav class="bg-white z-50 border-b fixed w-full top-0 left-0">
        <div class="w-full px-4 py-2.5 flex mx-auto justify-between items-center">
          <div class="flex items-center space-x-4">
            <%= link_to root_path, class: "flex space-x-2 items-center text-lg text-nowrap font-medium text-neutral" do %>
              <span class="text-3xl">📚</span>
              <span class="text-neutral-800">Bible Reading Log</span>
            <% end %>
            <%= render "shared/breadcrumbs" %>
          </div>
          <div class="flex items-center space-x-2">
            <% if current_user.confirmed? %>
              <%= link_to root_path, class: "hidden space-x-1 py-1.5 px-5 opacity-70 hover:opacity-100 rounded-md" do %>
                <span>Reading Logs</span>
              <% end %>
            <% end %>
            <div
              data-controller="dropdown"
              data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem keydown.esc->dropdown#hide"
              class="inline-block relative">
              <button data-action="dropdown#toggle:stop" class="ml-1 h-10 w-10  bg-neutral-400 rounded-full text-white">
                <span class="uppercase font-medium"><%= current_user.initials %></span>
              </button>
              <div data-dropdown-target="menu" class="hidden absolute top-6 right-0 z-10 mt-5 flex w-screen max-w-max">
                <div class=" bg-white shadow-sm rounded-md border overflow-hidden w-45">
                  <%= link_to root_path, class: "group flex rounded-md mx-1.5 mt-2 my-1 py-1.5 px-4 space-x-3 hover:bg-stone-100 items-center", data: { dropdown_target: "menuItem"} do %>
                    <span class="">Reading Logs</span>
                  <% end %>
                  <%= link_to account_path, class: "group flex rounded-md mx-1.5 my-1 py-1.5 px-4 space-x-3 hover:bg-stone-100 items-center", data: { dropdown_target: "menuItem"} do %>
                    <span class="">Account</span>
                  <% end %>
                  <% if current_user.is_admin? %>
                    <%= link_to admin_path, class: "group flex rounded-md mx-1.5 mb-2 my-1 py-1.5 px-4 space-x-3 hover:bg-stone-100 items-center", data: { dropdown_target: "menuItem"} do %>
                      <span class="">Admin</span>
                    <% end %>
                  <% end %>
                  <hr class="border-t" />
                  <%= button_to sign_out_path, method: :delete, class: "w-full text-left py-1.5 px-4 flex space-x-3 items-center", form: {class: "group flex rounded-md mx-1.5 my-1.5  hover:bg-stone-100" }, data: { dropdown_target: "menuItem" } do %>
                    <span class="">Log out</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <main data-turbo-prefetch="false" class="p-5 mx-auto w-full max-w-2xl">
        <% if @back_button_values %>
          <%= link_to @back_button_values[:path], class: "inline-block md:hidden mb-8 text-lg hover:underline" do %>
            &larr; <%= @back_button_values[:text]  %>
          <% end %>
        <% end %>
        <%= yield %>
      </main>
    <% else  %>
      <%= render "shared/flash", custom_top_class: "!top-10" %>
      <main class="p-5 mt-20">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
