<!DOCTYPE html>
<html>
  <head>
    <title>Biblereadinglog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% flash_message = flash[:notice] || flash[:alert] %>
    <% if flash_message.present? %>
      <div><%= flash_message %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
