<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bible Reading Log | A simple Bible reading tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

<!--    <meta name="title" content="Bible Reading Log | A simple Bible reading tracker">
    <meta name="description" content="A simple Bible reading tracker">
    <meta name="keywords" content="bible, reading, log, study, plan, prayer, quiet time">-->
    <!-- Open Graph / Facebook -->
<!--    <meta property="og:type" content="website">
    <meta property="og:url" content="https://biblereadinglog.com">
    <meta property="og:title" content="Bible Reading Log | A simple Bible reading tracker">
    <meta property="og:description" content="A simple Bible reading tracker">-->
    <meta property="og:image" content="https://biblereadinglog.com/og_image.png">
    <!-- Twitter -->
<!--    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://biblereadinglog.com">
    <meta property="twitter:title" content="Bible Reading Log | A simple Bible reading tracker">
    <meta property="twitter:description" content="A simple Bible reading tracker">-->
    <meta property="twitter:image" content="https://biblereadinglog.com/og_image.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
    <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

    <%= yield %>
  </body>
</html>
