<!DOCTYPE html>
<html>
  <head>
    <title>Biblereadinglog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-zinc-50">
    <% flash_message = flash[:notice] || flash[:alert] %>
    <% if flash_message.present? %>
      <div class="mb-3 border rounded bg-gray-200 px-2 py-1 inline-block"><%= flash_message %></div>
    <% end %>

    <nav class="bg-white shadow-sm px-5 py-3 flex mx-auto justify-between items-center">
      <%= link_to "Bible Reading Log", root_path, class: "text-lg font-semibold" %>
      <div class="flex items-center space-x-1">
        <%= link_to root_path, class: "#{'!text-black bg-neutral-100' if request.path == root_path} flex space-x-1 py-1.5 px-4 text-neutral-600 hover:bg-neutral-100 hover:text-black rounded-md" do %>
          <span>Home</span>
        <% end %>
        <%= link_to  account_path, class: "#{'!text-black bg-neutral-100' if request.path == account_path} flex space-x-1 py-1.5 px-4  text-neutral-600 hover:bg-neutral-100 hover:text-black rounded-md" do %>
          <span>Account</span>
        <% end %>
      </div>
    </nav>
    <main class="p-5 pt-10 mx-auto w-full max-w-3xl">
      <%= render "shared/breadcrumbs" %>
      <%= yield %>
    </main>
  </body>
</html>
