<!DOCTYPE html>
<html>
  <head>
    <title>Biblereadinglog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="p-5">
    <% if user_signed_in? %>
      <nav class="space-x-6 text-center mb-10">
        <%= link_to "Reading Logs", root_path, class: "font-medium hover:underline opacity-80 hover:opacity-100" %>
        <%= link_to "Settings", settings_path, class: "font-medium hover:underline opacity-80 hover:opacity-100" %>
      </nav>
    <% end %>
    <% flash_message = flash[:notice] || flash[:alert] %>
    <% if flash_message.present? %>
      <div class="mb-3 border rounded bg-gray-200 px-2 py-1 inline-block"><%= flash_message %></div>
    <% end %>

    <main class="max-w-3xl mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
