<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:html_title) ? yield(:html_title) : "Bible Reading Log" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <% if @skip_turbo_cache_control == true %>
      <meta name="turbo-cache-control" content="no-cache">
    <% end %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: "Figtree" !important;
      }
    </style>
  </head>

  <body class="md:bg-stone-50">
    <% if user_signed_in? %>
      <%= render(NavbarComponent.new) %>
      <div id="flash">
        <%= render "shared/flash" %>
      </div>
      <main data-turbo-prefetch="false" class="md:shadow-custom mx-auto w-full max-w-2xl pt-7 p-5 md:p-8 <%= request.path == root_path ? 'md:pb-0' : '' %> md:rounded-lg bg-white md:mt-4 mb-20">
        <%= yield %>
      </main>
    <% else  %>
      <%= render "shared/flash", custom_classes: "!top-8" %>
      <main class="mt-10 mb-10 flex justify-center">
        <div class="shadow-custom mx-4 rounded-lg inline-block py-8 p-5 xs:p-8 bg-white max-w-[440px] w-full">
          <%= yield %>
        </div>
      </main>
    <% end %>
  </body>
</html>
