<!DOCTYPE html>
<html> 
  <%= render "layouts/head" %>

  <body class="px-6 pb-20">
    <div class="mx-auto w-full">
      <div class="flex items-center justify-between py-5 mb-5 sm:flex-row flex-col space-y-5 sm:space-y-0">
        <%= render 'pages/header_logo', path: reading_logs_path %>
        <div class="flex items-center space-x-5">
          <%= link_to "Home", reading_logs_path, class: "link" %>
          <%= link_to "Account", edit_account_path, class: "link" %>
          <%= button_to "Log out", session_path, method: :delete, class: "link" %>
        </div>
      </div>
      <%= render 'ui/flash' %>
      <div class="max-w-2xl mx-auto">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
